<div class="banner">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="{{ url('Home/index') }}">Hotel</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{{ url('Home/index') }}">Home</a></li>
								<li><a href="{{ url('Home/rooms') }}">Pokoje</a></li>
								<li><a href="offers.html">Oferta</a></li>
								<li><a href="signin.html">Zaloguj</a></li>
								<li><a href="contact.html">Kontakt</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Wpisz szukane słowo..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="{{ url('template') }}/js/classie.js"></script>
					<script src="{{ url('template') }}/js/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>

<!-- {!% if salesPage is defined and salesPage %} -->
