<header class="main-header">
    <a href="{{ url('Home/index') }}" class="logo">HOTEL <b>JM</b></a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        {% if newMails|length > 0 %}
                            <span class="label label-danger">{{ newMails|length }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Masz {{ newMails|length }} nowe wiadomości</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for m in newMails %}
                                    <li><!-- start message -->
                                        <a href="{{ url('Admin/mail', {'action': 'show', 'id': m.id }) }}">
                                            {#<div class="pull-left">
                                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                                            </div>#}
                                            <h4>
                                                {{ m.name }}
                                                <small><i class="fa fa-clock-o"></i> {{ m.mailDate|date('d.m') }}</small>
                                            </h4>
                                            <p>{{ m.content|slice(0, 50) }}</p>
                                        </a>
                                    </li><!-- end message -->
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer"><a href="{{ url('Admin/mails') }}">Zobacz wszystkie wiadomości</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        {% if newOpinions|length > 0 %}
                            <span class="label label-danger">{{ newOpinions|length }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Liczba nowych opinii: <span id="notifscounter">{{ newOpinions|length }}</span></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for opinion in newOpinions %}
                                    <li>
                                        <a href="{{ url('Admin/opinion', { 'id': opinion.id }) }}">
                                            <i class="fa fa-info"></i>{{ opinion.content|slice(0, 50) }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </li>
                        <li class="footer"><a href="{{ url('Admin/opinions') }}">Zobacz wszystkie</a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle clear" data-toggle="dropdown">
                        <img src="{{ getAvatar(Me.model.id) }}" class="user-image" alt="User Image" />
                        <span class="hidden-xs">{{ Me.getModel.givenName }} {{ Me.getModel.familyName }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ getAvatar(Me.model.id) }}" class="img-circle" alt="User Image" />
                            <p>
                                {{ Me.getModel.givenName }} {{ Me.getModel.familyName }}
                                <br /><i>{{ Me.getUserType }}</i>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        {#                        <li class="user-body">
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Followers</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Sales</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Friends</a>
                                                    </div>
                                                </li>#}
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ url('User/edit') }}" class="btn btn-default btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url('Home/logout') }}" class="btn btn-default btn-flat">Wyloguj</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>