<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ getAvatar(Me.model.id) }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>{{ Me.getModel.givenName }} {{ Me.getModel.familyName }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        {#<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Szukaj..."/>
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>#}
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            {% if Me.auth('admin') %}
                <li class="header">ADMINISTRATOR</li>
                <li class="treeview" id="dashboard-category-sidebar">
                    <a href="{{ url('Admin/index') }}">
                        <i class="fa fa-dashboard"></i> <span>Kokpit</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                </li>
                {# active  gdzies ... dodaj do aktywnej zakłądki :-) #}
                <li class="treeview" id="rooms-category-sidebar">
                    <a href="#">
                        <i class="fa fa-star"></i> <span>Pokoje</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="rooms-sidebar"><a href="{{ url('Admin/rooms') }}"><i class="fa fa-circle-o"></i> Lista pokoi</a></li>
                        <li id="editroom-sidebar"><a href="{{ url('Admin/editRoom') }}"><i class="fa fa-circle-o"></i> Dodaj pokój</a></li>
                    </ul>
                </li>
                <li class="treeview" id="reservations-category-sidebar">
                    <a href="#">
                        <i class="fa fa-calendar"></i> <span>Rezerwacje</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="reservations-sidebar"><a href="{{ url('Admin/reservations') }}"><i class="fa fa-circle-o"></i> Lista rezerwacji</a></li>
                        <li id="editreservations-sidebar"><a href="#"><i class="fa fa-circle-o"></i> Dodaj rezerwację</a></li>
                        <li id="oldreservations-sidebar"><a href="{{ url('Admin/reservations', {'action': 'old'}) }}"><i class="fa fa-circle-o"></i> Stare rezerwacje</a></li>
                    </ul>
                </li>
                <li class="treeview" id="users-category-sidebar">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>Użytkownicy</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="semesters-sidebar"><a href="#"><i class="fa fa-circle-o"></i> Lista użytkowników</a></li>
                        <li id="classes-sidebar"><a href="#"><i class="fa fa-circle-o"></i> Dodaj użytkownika</a></li>
                    </ul>
                </li>
                <li class="treeview" id="settings-category-sidebar">
                    <a href="#">
                        <i class="fa fa-gear"></i> <span>Ustawienia</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="rules-sidebar"><a href="{{ url('Admin/rules') }}"><i class="fa fa-circle-o"></i> Regulamin</a></li>
                        <li id="tpay-sidebar"><a href="{{ url('Admin/tpay') }}"><i class="fa fa-circle-o"></i> tpay.com</a></li>
                    </ul>
                </li>

            {% endif %}


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>



<div class="modal fade" id="addLesson" tabindex="-1" role="dialog" aria-labelledby="addLessonLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addLessonLabel">Nowa lekcja</h4>
            </div>
            <div class="modal-body">
                <form name="inputform" method="POST">

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Godzina:</label>
                        <select name="hour" id="lesson-hour-input" class="form-control">
                            {#% for h in Me.getTeacherSidebarData.hours %}
                                <option value="{{ h.id }}">{{ h.id }}. {{ h.fromTime|date('H:i') }} - {{ h.toTime|date('H:i') }}</option>
                            {% endfor %#}
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nauczyciel:</label>
                        <select name="teacher" class="form-control">
                            {#% for t in Me.getTeacherSidebarData.teachers %}
                                <option value="{{ t.id }}" {% if t.id == Me.getModel.id %} selected {% endif %}>{{ t.familyName }} {{ t.givenName }}</option>
                            {% endfor %#}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Klasa:</label>
                        <select name="class" class="form-control" id="lesson-class-input">
                            {#% for c in Me.getTeacherSidebarData.classes %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %#}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Grupa:</label>
                        <select name="group" class="form-control" id="lesson-group-input">
                            <option value="0">-cała klasa-</option>
                            {#% for gr in Me.getTeacherSidebarData.groups %}
                                <option value="{{ gr.id }}">
                                    {% if gr.level > 0 %}
                                        {% for i in range(1, gr.level) %}&nbsp;&nbsp;&nbsp;{% endfor %}
                                    {% endif %}
                                    {{ gr.name }}
                                </option>
                            {% endfor %#}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Przedmiot:</label>
                        <select name="subject" class="form-control" id="lesson-subject-input">
                            {#% for s in Me.getTeacherSidebarData.subjects %}
                                <option value="{{ s.id }}">{{ s.subject }}</option>
                            {% endfor %#}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Temat:</label>
                        <input type="text" name="topic" class="form-control" />
                    </div>



                    <div class="box-footer clearfix no-border">
                        <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" >

    $('#addLesson').on('show.bs.modal', function (event) {
        var lbutton = $(event.relatedTarget); // Button that triggered the modal
        var lrecipient = lbutton.data('lesson'); // Extract info from data-* attributes
        var lmodal = $(this);
        var lres = lrecipient.split('|');
        lmodal.find('#lesson-class-input').val(lres[1]);
        if (lres[2] == '') {
            lmodal.find('#lesson-group-input').val(0);
        } else {
            lmodal.find('#lesson-group-input').val(lres[2]);
        }
        lmodal.find('#lesson-hour-input').val(lres[0]);
        lmodal.find('#lesson-subject-input').val(lres[3]);
    });
</script>