{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - uczniowie{% endblock %}

{% block head %}
    <link href="{{ url('template') }}/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    {% if info != 'brak' %}
        {% if info.col == 'red' %}               
            <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-success" role="alert">
                {% endif %}

                {{ info.inf }}
            </div>
        {% endif %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Szkoła<small>Lista uczniów</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Lista Uczniów</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <table id="teachers-table" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th>Nazwisko</th>
                                <th>Imię</th>
                                <th>Nick</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in students %}
                                <tr>
                                    <td>
                                        <a href="{{ url('School/studentEdit', {'info': s.id}) }}" class="fa fa-edit"></a>
                                        <a href="{{ url('School/students', {'action': 'del', 'id': s.id}) }}" class="fa fa-trash-o"></a>
                                    </td>
                                    <td>{{ s.familyName }}</td>
                                    <td>{{ s.givenName }}</td> 
                                    <td>{{ s.username }}</td>
                                    <td>{{ s.email }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->

                <div class="box-footer clearfix no-border">
                    <a href="{{ url('School/studentEdit') }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Dodaj nowego</a>
                </div>
            </div><!-- /.box -->


        </section><!-- /.Left col -->
        <script src="{{ url('template') }}/js/jquery.dataTables.js" type="text/javascript"></script>
        <script src="{{ url('template') }}/js/dataTables.bootstrap.js" type="text/javascript"></script>
        <script type="text/javascript">
            $("#school-category-sidebar, #students-sidebar").addClass("treeview active");

            $('#teachers-table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }]
            });

            $("#classes-category-sidebar").addClass("treeview active");

        </script>
    {% endblock %}
