<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" href="{{ url('libs') }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('template') }}/css/style.css?v1.0.0" type="text/css" >
    <link rel="stylesheet" href="{{ url('template') }}/css/AdminLTE.css" type="text/css" >
    <link rel="stylesheet" href="{{ url('template') }}/css/skin-green.css" type="text/css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url('template') }}/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url('template') }}/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <form method="POST" id="ajaxform" action="{{ url('Classes/students', {'class': class.id } ) }}">
        <table id="students-list" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th width="1%">#</th>
                    <th>Nazwisko</th>
                    <th>Imię</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td><input type="checkbox" name="students[]" value="{{ student.id }}" /></td>
                        <td>{{ student.familyName }}</td>
                        <td>{{ student.givenName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="hidden" name="student" id="student-input" />

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            <input type="submit" name="save" class="btn btn-primary" value="Zapisz" />
        </div>
    </form>
    <script src="{{ url('template') }}/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ url('template') }}/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
		$('#students-list').dataTable({
			"bPaginate": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumnDefs": [{
					'bSortable': false,
					'aTargets': [0]
				}]
		});
    </script>
</body>