{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - sale lekcyjne{% endblock %}

{% block content %}
    {% if info != 'brak' %}
        {% if info.col == 'red' %}               
            <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-success" role="alert">
                {% endif %}

                {{ info.inf }}
            </div>
        {% endif %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Szkoła
                <small>Edycja sali lekcyjnej</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Dodaj sale</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    {% if classroom.id %}
                        <form name="inputform" method="POST" action="{{ url('School/classrooms', {'action': 'updt', 'id': classroom.id}) }}">
                        {% else %}
                            <form name="inputform" method="POST" action="{{ url('School/classrooms', {'action': 'add'}) }}">
                            {% endif %}

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Nazwa sali:</label>
                                        <input type="text" name="name" value="{{ classroom.name }}" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Miejsc:</label>
                                        <input type="text" name="seats" value="{{ classroom.seats }}" class="form-control" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Projektor:</label>
                                        <select name="projector" class="form-control">
                                            <option value="0">Nie</option>
                                            <option value="1" {% if classroom.projector == 1 %}selected{% endif %}>Tak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Dodatkowe informacje:</label>
                                        <input type="text" name="others" value="{{ classrooom.others }}" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer clearfix no-border">
                                <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                                <input type="submit" name="saveAndAdd" value="Zapisz i nowa" class="btn btn-default pull-right" />
                            </div>

                        </form>
                </div><!-- /.box-body -->




            </div><!-- /.box -->


        </section><!-- /.Left col -->

    </div><!-- /.row (main row) -->
    <script type="text/javascript">
        $("#school-category-sidebar, #classrooms-sidebar").addClass("treeview active");
    </script>

{% endblock %}