{% extends './base.html.twig' %}

{% block title %}HOTEL JM - edycja rezerwacji{% endblock %}

{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hotel
            <small>Edycja rezerwacje</small>
        </h1>
    </section>
    <link rel="stylesheet" href="{{ url('template') }}/css/jquery-ui.css" />
    <script src="{{ url('template') }}/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
    <!-- Main content -->
    <section class="content">
        {{ Notify.r }}
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Dodaj rezerwacje</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                {% if reservation.id %}
                    <form name="inputform" method="POST" action="{{ url('Admin/reservations', {'action': 'updt', 'id': reservation.id}) }}">
                    {% else %}
                        <form name="inputform" method="POST" action="{{ url('Admin/reservations', {'action': 'add'}) }}">
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Klient:</label>
                                    <select name="user" class="form-control">
                                        <option value="0">-brak-</option>
                                        {% for u in users %}
                                            <option value="{{ u.id }}" {% if reservation.user.id == u.id %}selected{% endif %}>{{ u.givenName }} {{ u.familyName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Status:</label>
                                    <input type="text" name="name" value="{{ reservation.paid }}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 dropdown-button">           			
                                <div class="book_date form-group">
                                    <label for="recipient-name" class="control-label">Data początkowa:</label>
                                    <input class="date form-control" id="datepicker" name="fromDate" type="text" value="{{ reservation.fromDate|date('Y-m-d') }}" placeholder="Od dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                        this.value = 'Od dnia';
                                                    }" required>
                                </div>		
                            </div>
                            <div class="col-md-6 dropdown-button">           			
                                <div class="book_date form-group">
                                    <label for="recipient-name" class="control-label">Data zarezerwowania:</label>
                                    <input class="date form-control" id="datepicker2" name="reservationDate" type="text" value="{{ reservation.reservationDate|date('Y-m-d') }}" placeholder="Data rezerwacji" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                        this.value = 'Data rezerwacji';
                                                    }" required>
                                </div>		
                            </div>	
                        </div>
                        <div class="row">
                            <div class="col-md-6 dropdown-button">           			
                                <div class="book_date form-group">
                                    <label for="recipient-name" class="control-label">Data końcowa:</label>
                                    <input class="date form-control" id="datepicker1" name="toDate" type="text" value="{{ reservation.toDate|date('Y-m-d') }}" placeholder="Do dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                        this.value = 'Do dnia';
                                                    }" required>
                                </div>		
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Pokoje:</label>
                                    <input type="text" name="name" value="{{ room.name }}" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="box-footer clearfix no-border">
                            <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                            <!--input type="submit" name="saveAndAdd" value="Zapisz i nowy" class="btn btn-default pull-right" /-->
                        </div>

                    </form>
            </div><!-- /.box-body -->




        </div><!-- /.box -->


    </section><!-- /.Left col -->

</div><!-- /.row (main row) -->
<script type="text/javascript">
    $("#reservations-category-sidebar, #editreservations-sidebar").addClass("treeview active");
</script>

{% endblock %}