{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - godziny zajęć{% endblock %}

{#% block head %}
    <link href="{{ url('template') }}/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
{% endblock %#}

{% block content %}

    {% if info != 'brak' %}
        {% if info.col == 'red' %}               
            <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-success" role="alert">
                {% endif %}

                {{ info.inf }}
            </div>
        {% endif %}


        <section class="content-header">
            <h1>Szkoła
                <small>Godziny zajęć</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-body">
                    <form method="POST" id="ajaxform" action="{{ url('School/hours') }}">

                        {% for h in range(1, 8) %}

                            <div class="input-group">
                                <span class="input-group-addon" >Lekcja {{ h }}:</span>
                                <span class="input-group-addon" >Od:</span>
                                <input type="text" name="hour{{ h }}from" value="{{ hours[h-1].fromTime|date('H:i') }}" class="form-control timepicker" />
                                <span class="input-group-addon" >Do:</span>
                                <input type="text" name="hour{{ h }}to" value="{{ hours[h-1].toTime|date('H:i') }}" class="form-control timepicker" />
                            </div>

                        {% endfor %}

                        <div class="box-footer clearfix no-border">
                            <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                        </div>
                    </form>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

        </section><!-- /.Left col -->

        <script src="{{ url('template') }}/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            $("#school-category-sidebar, #hours-sidebar").addClass("treeview active");

            //Timepicker
            /*/$(".timepicker").timepicker({
                showInputs: false,
                minuteStep: 5,
                showMeridian: false
            });*/
        </script>

    {% endblock %}
