{% extends './base.html.twig' %}

{% block title %}HOTEL JM - wiadomości{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hotel
            <small>Lista opinii</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        {{ Notify.r }}

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Lista opinii</h3>
            </div><!-- /.box-header -->

            <div class="box-body">
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="opinions-table" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th width="1%">Opublikowane</th>
                                <th>Ocena</th>
                                <th>Opis</th>
                                <th>Data</th>
                                <th>Użytkownik</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in opinions %}
                                <tr>
                                    <td class="center"><a href="{{ url('Admin/opinion', { 'id': o.id }) }}">{% if o.isVerified %}<span class="badge bg-green"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-red"><i class="fa fa-close"></i></span>{% endif %}</a></td>
                                    <td class="no-wrap"><a href="{{ url('Admin/opinion', { 'id': o.id }) }}">{% for i in 1..o.rating %}<i class="fa fa-star" style="color:orange"></i>{% endfor %}</a></td>
                                    <td><a href="{{ url('Admin/opinion', { 'id': o.id }) }}">{{ o.content }}</a></td>
                                    <td>{{ o.date|date('Y-m-d') }}</td>
                                    <td>{{ o.user.givenName }} {{ o.user.familyName }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>



    </section><!-- /.Left col -->
    <script src="{{ url('template') }}/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ url('template') }}/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#opinions-category-sidebar, #opinions-sidebar").addClass("treeview active");

        $('#opinions-table').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [0]
                }]
        });
    </script>

{% endblock %}