{% extends './base.html.twig' %}

{% block title %}HOTEL JM - pokoje{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hotel
            <small>Lista pokoi</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        {{ Notify.r }}

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Pokoje</h3>
            </div>

            <div class="box-body table-responsive">
                <table id="rooms-table" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th width="1%">Pokój</th>
                            <th>Nazwa</th>
                            <th>Miejsc</th>
                            <th>Cena</th>
                            <th width="1%">Łazienka</th>
                            <th width="1%">Balkon</th>
                            <th width="1%">Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in rooms %}
                            <tr>
                                <td>{{ r.number }}</td>
                                <td>{{ r.name}}</td>
                                <td>{{ r.users }}</td>
                                <td>{{ r.cost }}</td>
                                <td class="center">{% if r.toilet %}<span class="badge bg-green"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-red"><i class="fa fa-close"></i></span>{% endif %}</td>
                                <td class="center">{% if r.balcony %}<span class="badge bg-green"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-red"><i class="fa fa-close"></i></span>{% endif %}</td>
                                <td class="no-wrap">
                                    <a href="{{ url('Admin/editRoom', {'id': r.id}) }}"><span class="badge bg-blue"><i class="fa fa-edit"></i></span></a>
                                    <a href="{{ url('Admin/rooms', {'action': 'del', 'id': r.id}) }}"><span class="badge bg-red"><i class="fa fa-trash-o"></i></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->

            <div class="box-footer clearfix no-border">
                <a href="{{ url('Admin/editRoom') }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Dodaj nowy</a>
            </div>
        </div><!-- /.box -->
    </section><!-- /.Left col -->

    <script src="{{ url('template') }}/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ url('template') }}/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#rooms-category-sidebar, #rooms-sidebar").addClass("treeview active");

        $('#rooms-table').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [6]
                }]
        });
    </script>

{% endblock %}