{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - semestry{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Szkoła
            <small>Edycja semestrów</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Edytuj semestr</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <form name="inputform" method="POST" action="{{ url('School/semesters', {'action': 'updt', 'id': semesters[0].id}) }}">

                    {% if semesters %}
                        <h4 class="box-title">Rok szkolny: {{ semesters[0].getYear.getFromYear }}/{{ semesters[0].getYear.getToYear }}</h4>
                    {% else %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Rok szkolny:</span>

                            <select name="year" class="form-control" style="width:250px">
                                {% for y in years %}
                                    <option value="{{ y.from }}">{{ y.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="box-title">Semestr 1</h4>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Obowiązuje od - do:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="sem1DateRange" class="form-control pull-right daterange" value="{{ semesters[0].getFromDate|date('Y-m-d') }} - {{ semesters[0].getToDate|date('Y-m-d') }}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h4 class="box-title">Semestr 2</h4>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Obowiązuje od - do:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="sem2DateRange" class="form-control pull-right daterange" value="{{ semesters[1].getFromDate|date('Y-m-d') }} - {{ semesters[1].getToDate|date('Y-m-d') }}" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="box-footer clearfix no-border">
                        <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                    </div>
                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section>

    <script src="{{ url('template') }}/js/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //Date range picker
            $('.daterange').daterangepicker({
                format: 'YYYY-MM-DD',
                locale: {
                    applyLabel: 'Zapisz',
                    cancelLabel: 'Anuluj',
                    fromLabel: 'Od',
                    toLabel: 'Do',
                    customRangeLabel: 'Własne',
                    daysOfWeek: ['Nd', 'Po', 'Wt', 'Śr', 'Czw', 'Pt', 'So'],
                    monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                    firstDay: 1
                }
            });
            
            $("#school-category-sidebar, #semesters-sidebar").addClass("treeview active");
        });
    </script>

{% endblock %}
