{% extends './base.html.twig' %}

{% block title %}{{ settings.sitename }} - ustawienia tpay.com{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hotel
            <small>tpay.com</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        {{ Notify.r }}
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Ustawienia tpay.com</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <form name="inputform" method="POST" action="{{ url('Admin/tpay', {'action': 'save'}) }}">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">ID:</label>
                            <input type="text" name="tid" value="{{ tid }}" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Kod bezpieczeństwa:</label>
                            <input type="text" name="tkey" value="{{ tkey }}" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="switch-offColor" name="payment_online" value="1" type="checkbox" data-label-width="150" data-label-text="Tylko płatności on-line" data-off-color="danger" data-on-color="success" data-on-text="TAK" data-off-text="NIE" {% if settings.payment_online == 1 %}checked{% endif %} />
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                        <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                    </div>

                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.Left col -->

</div><!-- /.row (main row) -->
<script src="{{ url('template') }}/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="{{ url('template') }}/js/highlight.js" type="text/javascript"></script>
<script src="{{ url('template') }}/js/main.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#settings-category-sidebar, #tpay-sidebar").addClass("treeview active");
</script>

{% endblock %}