{% extends './base.html.twig' %}

{% block title %}eDziennik AMN{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Mój e-Dziennik
            <small>Uczeń</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

                <div class="small-box bg-green divlink">
                    <div class="inner">
                        <h3>Oceny</h3>
                        <p>Moje oceny</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{{ url('Student/ratings') }}" class="small-box-footer">Sprawdź <i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div><!-- ./col --></a>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow divlink">
                    <div class="inner">
                        <h3>Frekwencja</h3>
                        <p>Moje obecności</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                    <a href="{{ url('Student/attendance') }}" class="small-box-footer">Sprawdź <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua divlink">
                    <div class="inner">
                        <h3>Plan lekcji</h3>
                        <p>Moje zajęcia</p>
                    </div>
                    <div class="icon">
                        <i class="ion-calendar"></i>
                    </div>
                    <a href="{{ url('Student/plan') }}" class="small-box-footer">Sprawdź <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red divlink">
                    <div class="inner">
                        <h3>Statystyki</h3>
                        <p>Moje postępy w nauce</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Sprawdź <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">

                <!-- quick email widget -->
				<div class="box box-info">
					<div class="box-header">
						<i class="fa fa-envelope"></i>
						<h3 class="box-title">Wiadomość</h3>
						<!-- tools box -->
						<div class="pull-right box-tools">
							<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
						</div><!-- /. tools -->
					</div>
					<div class="box-body">
						<form action="#" method="post">
							<div class="form-group">
								<input type="email" class="form-control" name="emailto" placeholder="Odbiorca"/>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" placeholder="Tytuł"/>
							</div>
							<div>
								<textarea class="textarea" placeholder="Wiadomość" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
							</div>
						</form>
					</div>
					<div class="box-footer clearfix">
						<button class="pull-right btn btn-default" id="sendEmail">Wyślij <i class="fa fa-arrow-circle-right"></i></button>
					</div>
				</div>

            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li><a href="#plan-tomorrow" data-toggle="tab">Jutro</a></li>
                        <li class="active"><a href="#plan-today" data-toggle="tab">Dziś</a></li>
                        <li class="pull-left header"><i class="fa fa-inbox"></i> Plan dnia</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane" id="plan-tomorrow" style="position: relative; min-height: 300px;">
                            <div class="margin">
                                {% for i in range(1, 8) %}
                                    {% if plan['tomorrow'][i] %}
                                        <div class="info-box bg-green">
                                            <span class="info-box-icon">{{ i }}</span>
                                            <div class="info-box-content">
                                                <div class="pull-right">{{ hours[i].fromTime|date('H:i') }}</div>
                                                <span class="info-box-text">{{ plan['tomorrow'][i].subject.subject }}</span>
                                                <span class="info-box-text">{% if plan['tomorrow'][i].classroom %} <small>s.</small> {{ plan['tomorrow'][i].classroom.name }}{% endif %}&nbsp;</span>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 70%"></div>
                                                </div>
                                                <div class="pull-right">{{ hours[i].toTime|date('H:i') }}</div>
                                                <span class="progress-description">
                                                    {{ plan['tomorrow'][i].teacher.givenName }} {{ plan['tomorrow'][i].teacher.familyName }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="chart tab-pane active" id="plan-today" style="position: relative; min-height: 300px;">
                            <div class="margin">
                                {% for i in range(1, 8) %}
                                    {% if plan['today'][i] %}
                                        <div class="info-box bg-green">
                                            <span class="info-box-icon">{{ i }}</span>
                                            <div class="info-box-content">
                                                <div class="pull-right">{{ hours[i-1].fromTime|date('H:i') }}</div>
                                                <span class="info-box-text">{{ plan['today'][i].subject.subject }}</span>
                                                <span class="info-box-text">{% if plan['today'][i].classroom %} <small>s.</small> {{ plan['today'][i].classroom.name }}{% endif %}&nbsp;</span>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 70%"></div>
                                                </div>
                                                <div class="pull-right">{{ hours[i-1].toTime|date('H:i') }}</div>
                                                <span class="progress-description">
                                                    {{ plan['today'][i].teacher.givenName }} {{ plan['today'][i].teacher.familyName }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div><!-- /.nav-tabs-custom -->

            </section><!-- right col -->
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->

    <script type="text/javascript">
        $('.divlink').css('cursor', 'pointer');
        $(document).delegate('.divlink', 'click', function () {
            window.location = $(this).find('a').attr('href');
        });
        
        $("#student-category-sidebar, #student-index-sidebar").addClass("treeview active");
    </script>

{% endblock %}
