{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - konto{% endblock %}
{% block head %}
    <script src="{{ url('template') }}/js/jquery.validate.min.js" type="text/javascript"></script> 
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $("#n-signin").addClass("active");
        $(".banner").toggleClass("banner1");
    </script>
</div>		
<!-- banner -->
<!-- registration -->
<div class="main-1">
    <div class="container">
        <div class="register">
            {{ Notify.r }}
            <div id="error-note">
            </div>
            </br>
            <form method="post" id="accountform" name="accountform" action="{{ url('Home/account') }}"> 
                <div class="register-top-grid login-right">
                    <h3>DANE UŻYTKOWNIKA</h3>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Imię<label>*</label></span>
                        <input type="text" name="givenName" value="{{ Me.getModel.givenName }}"> 
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>Nazwisko<label>*</label></span>
                        <input type="text" name="familyName" value="{{ Me.getModel.familyName }}"> 
                    </div>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Nazwa użytkownika<label>*</label></span>
                        <input type="text" value="{{ Me.getModel.username }}" disabled> 
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>E-mail<label>*</label></span>
                        <input type="text" name="email" value="{{ Me.getModel.email }}" required> 
                    </div>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Nowe hasło<label>*</label></span>
                        <input type="password" id="pass" name="pass">
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>Potwierdź nowe hasło<label>*</label></span>
                        <input type="password" id="passconfirm" name="passconfirm">
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>Telefon<label>*</label></span>
                        <input type="text" name="phone" value="{{ Me.getModel.phone }}"> 
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s" style="height: 50px;">&nbsp;</div>
                    <div class="clearfix"> </div>
                    <input type="hidden" name="username" value="{{ Me.getModel.username }}" /> 
                    <input type="submit" value="Zapisz" />
                    <div class="clearfix"> </div>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $.validator.addMethod("confirmPasswordEqualsPassword", function (value) {
        var passwordValue = $("#pass").val();
        passwordValue = passwordValue.replace(/./g, '*');
        value = value.replace(/./g, '*');
        if (value.length == 0 && passwordValue.length == 0)
            return true;
        if (value == passwordValue)
            return true;
        return false;
    }, 'Hasło i powtórzone hasło muszą być takie same');
    $.validator.addMethod("emptyOrcontainsAtLeastOneDigitAndLetter", function (value) {
        if (value.length === 0)
            return true;
        if (value.length < 8)
            return false;
        return /[a-z].*[0-9]|[0-9].*[a-z]/i.test(value);
    }, 'Hasło musi zawierać co najmniej 1 liczbę i 1 literę');
    $('#accountform').validate({// initialize the plugin
        errorClass: "my-error-class",
        errorLabelContainer: "#error-note",
        wrapper: "li",
        rules: {
            pass: {
                emptyOrcontainsAtLeastOneDigitAndLetter: true
            },
            passconfirm: {
                confirmPasswordEqualsPassword: true
            }
        },
        messages: {
            pass: "Hasło musi zawierać co najmniej 8 znaków (co najmniej 1 liczbę i 1 literę)",
            passconfirm: "Hasło i powtórzone hasło muszą być takie same"
        }
    });

</script>
{% endblock %}