{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM{% endblock %}

{% block body %}
    <script type="text/javascript">
        $("#n-index").addClass("active");
    </script> 
    <div class="banner-info">
        <div class="container">
            <div class="details-1">
                <div class="col-md-10 dropdown-buttons">   
                    <div class="col-md-3 dropdown-button">           			
                        <div class="input-group">
                            <input class="form-control has-dark-background" name="slider-name" id="slider-name" placeholder="Imię i nazwisko" type="text" required="" value="{% if Me.isLogged() %}{{ Me.getModel.givenName }} {{ Me.getModel.familyName }}{% endif %}">
                        </div>
                    </div>
                    <!---strat-date-piker---->
                    <link rel="stylesheet" href="{{ url('template') }}/css/jquery-ui.css" />
                    <script src="{{ url('template') }}/js/jquery-ui.js"></script>
                    <script>
            $(function () {
                $("#datepicker,#datepicker1").datepicker();
            });
                    </script>
                    <!---/End-date-piker---->

                    <div class="col-md-3 dropdown-button">           			
                        <div class="book_date">
                            <form>
                                <input class="date" id="datepicker" type="text" value="Od dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                            this.value = 'Od dnia';
                                        }">
                            </form>
                        </div>		
                    </div>
                    <div class="col-md-3 dropdown-button">           			
                        <div class="book_date">
                            <form>
                                <input class="date1" id="datepicker1" type="text" value="Do dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                            this.value = 'Do dnia';
                                        }">
                            </form>
                        </div>		
                    </div>
                    <div class="col-md-3 dropdown-button">
                        <div class="section_1">
                            <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                <option value="null">Pokój dwuosobowy</option>
                                <option value="null">Pokój jednoosobowy</option>         
                                <option value="AX">Pokój z garderobą</option>
                                <option value="AX">Pokój gościnny</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div> 
                <div class="col-md-2 submit_button"> 
                    <form action="{{ url('Home/details') }}">
                        <input type="submit" value="Szukaj">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>		
<!-- banner -->
<!-- hod -->
<div class="hod">
    <div class="container">
        <div class="col-md-6 hod-left">
            <img src="{{ url('template') }}/images/14.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6 hod-right">
            <h2>Pokoje wysokich standardów za niską cenę</h2>
            <p>Nasz hotel oferuje wszystkim gościom pokoje bardzo wysokiej klasy w bardzo przystępnych cenach. Dzięki temu poczujesz się jak gwiazda!</p>
            <p>Dodatkowo organizujemy wiele atrakcyjnych wydarzeń, nie czekaj i już dziś rezerwuj miejsce!</p>
            <a class="hvr-shutter-in-horizontal" href="{{ url('Home/details') }}">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- hod -->
<!-- tels -->
<div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokój 1 os. <span>110 zł</span></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój 2 os. <span>150 zł</span></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój z widokiem <span>200 zł</span></h4>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- tels -->
<!-- special -->
<div class="special">
    <div class="container">
        <div class="spe-info">
            <h3>Specialna oferta</h3>
            <p>Rezerwując pokoje do konca kwietnia na okres powyżej 5 dni otrzymasz 20% zniżki! Nie zwlekaj i rezerwuj pokoje najlepszej klasy ze zniżką!</p>
        </div>
    </div>
</div>
<!-- special -->
<!-- quick -->
<div class="quick">
    <div class="container">
        <div class="col-md-4 quick-left">
            <h3>Znani goście</h3>
            <ul>
                <li><a href="#">Doda</a></li>
                <li><a href="#">Zenek Martyniuk</a></li>
                <li><a href="#">Andrzej Duda</a></li>
                <li><a href="#">Tomasz Lis</a></li>
                <li><a href="#">Zespół U2</a></li>
            </ul>
        </div>
        <div class="col-md-4 quick-left">
            <h3>Wydarzenia</h3>
            <div class="new">
                <div class="n-lft">
                    <h5>10</h5>
                    <h6>Mar</h6>
                </div>
                <div class="n-rgt">
                    <p>Koncert zespołu U2 z 20% zniżka dla gości hotelu<a href="#">Więcej</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="new-1">
                <div class="n-lft">
                    <h5>15</h5>
                    <h6>Kwi</h6>
                </div>
                <div class="n-rgt">
                    <p>Koncert Ich Troje z 20% zniżka dla gości hotelu<a href="#">Więcej</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 quick-left">
            <h3>Szybki kontakt</h3>
            <form>
                <input type="text" class="textbox" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'E-mail';
                        }">
                <textarea placeholder="" onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Wiadomość';
                        }">Wiadomość</textarea>
                <input type="submit" value="Wyślij">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
