{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }}{% endblock %}

{% block body %}
    <script type="text/javascript">
        $("#n-index").addClass("active");
    </script> 
    <div class="banner-info">
        <div class="container">
            <div class="details-1">
                <form action="{{ url('Home/reservation') }}#rooms-list" method="POST">
                    <div class="col-md-10 dropdown-buttons">  

                        <div class="col-md-3 dropdown-button">           			
                            <div class="input-group">
                                <input class="form-control has-dark-background" name="name" id="slider-name" placeholder="Imię i nazwisko" type="text" required="" value="{% if Me.isLogged() and not Me.auth('admin') %}{{ Me.getModel.givenName }} {{ Me.getModel.familyName }}{% endif %}">
                            </div>
                        </div>
                        <!---strat-date-piker---->
                        <link rel="stylesheet" href="{{ url('template') }}/css/jquery-ui.css" />
                        <script src="{{ url('template') }}/js/jquery-ui.js"></script>
                        <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
                        </script>
                        <!---/End-date-piker---->

                        <div class="col-md-3 dropdown-button">           			
                            <div class="book_date">

                                <input class="date" id="datepicker" name="fromDate" type="text" placeholder="Od dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                            this.value = 'Od dnia';
                                        }" required>

                            </div>		
                        </div>
                        <div class="col-md-3 dropdown-button">           			
                            <div class="book_date">

                                <input class="date1" id="datepicker1" name="toDate" type="text" placeholder="Do dnia" onfocus="this.value = '';" onblur="if (this.value == '') {
                                            this.value = 'Do dnia';
                                        }" required>

                            </div>		
                        </div>
                        <div class="col-md-3 dropdown-button">
                            <div class="section_1">
                                <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Pokój dwuosobowy</option>
                                    <option value="null">Pokój jednoosobowy</option>         
                                    <option value="AX">Pokój z garderobą</option>
                                    <option value="AX">Pokój gościnny</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div> 
                    <div class="col-md-2 submit_button"> 
                        <input type="submit" value="Szukaj">
                    </div>
                </form>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>		
<!-- banner -->
<!-- tels -->
<div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokoje 1 os. <br/><a class="pull-right">już od <span>110 zł</span></a></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje rodzinne <br/><a class="pull-right">już od <span>300 zł</span></a></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Pokój rodzinny to nie tylko oszczędność, ale przede wszystkim specjalnie zaprojektowane miejsce zabaw i lokacja najbliżej wszelakich atrakcji jakie oferuje nasz hotel i miasto. 
                Oferujemy pokoje w układzie (2+1 oraz 2+2)</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje Standard+ <br/><a class="pull-right">już od <span>400 zł</span></a></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Jesteś wymagającym klientem ? Zależy Ci na maksymalnym odpręzeniu podczas pobytu w naszym hotelu ? 
                Sprzęt rtv najwyższej klasy i oszałamiający widok z okna to, to czego oczekujesz ? W takim razie pokój standad+ jest dla Ciebie idealnym wyborem. Zapraszamy !</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- tels -->
<!-- special -->
<div class="special">
    <div class="container">
        <div class="spe-info">
            <h3>Specialna oferta</h3>
            <p>Rezerwując pokoje do konca kwietnia na okres powyżej 5 dni otrzymasz 20% zniżki! Nie zwlekaj i rezerwuj pokoje najlepszej klasy ze zniżką!</p>
        </div>
    </div>
</div>
<!-- special -->
<!-- quick -->
<div class="quick">
    <div class="container">
        <div class="col-md-12 quick-left">
            <h3>Najbliższe wydarzenia</h3>
            <div class="col-md-4">
                <div class="new">
                    <div class="n-lft">
                        <h5>10</h5>
                        <h6>Mar</h6>
                    </div>
                    <div class="n-rgt">
                        <p>Koncert znanego na całym świecie zespołu U2 w naszym hotelu, serdecznie zapraszamy.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="new">
                    <div class="n-lft">
                        <h5>28</h5>
                        <h6>Kwi</h6>
                    </div>
                    <div class="n-rgt">
                        <p>Koncert legend polskiego Rocka - zespołu TSA</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="new">
                    <div class="n-lft">
                        <h5>5</h5>
                        <h6>Kwi</h6>
                    </div>
                    <div class="n-rgt">
                        <p>Duuuuża ryba! Pod tym hasłem odbędzie się coroczna otwarta konferencja Polskiego Związku Wędkarzy. Tym razem w naszym hotelu !</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="new">
                    <div class="n-lft">
                        <h5>3</h5>
                        <h6>Maj</h6>
                    </div>
                    <div class="n-rgt">
                        <p>Wielka majówka w hotelu JM tylko dla naszych gości. Masa atrakcji, zabaw, a wieczorem dyskoteka</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="n-lft">
                    <h5>16</h5>
                    <h5>-</h5>
                    <h5>18</h5>
                    <h6>Kwi</h6>
                </div>
                <div class="n-rgt">
                    <p>Największa w Polsce konferencja dla programistów. 3 dni, ponad 20 występień, około 500 uczestników. 
                        Ogromna ilość świeżutkiej wiedzy, popularne i dopiero przebijające się rozwiązania. Tylko u nas od 16 do 18 kwietnia. Zapraszamy <a href="#">Więcej</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>    
</div>
<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>NASI KLIENCI</h3>
        </div>
        <div class="contact-bottom">
            <div class="row" style="margin-top:25px">
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/comarch.jpg" class="img-responsive" alt="">  
                </div>
                <div class="col-md-3">          
                    <img src="{{ url('template') }}/images/clients/forcom.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/abc.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/microsoft.png" class="img-responsive" alt="">  
                </div>
            </div>    
            <div class="row" style="margin-top:25px">
                <div class="col-md-3">          
                    <img src="{{ url('template') }}/images/clients/allegro.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/ibm.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/mcdonalds.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3">
                    <img src="{{ url('template') }}/images/clients/wilson.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <!--end-contact-->
    </div>
</div>
<!--<div class="quick">
        <div class="container">
        <div class="col-md-4 quick-left">
            <h3>Szybki kontakt</h3>
            <form>
                <input type="text" class="textbox" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'E-mail';
                        }">
                <textarea placeholder="" onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Wiadomość';
                        }">Wiadomość</textarea>
                <input type="submit" value="Wyślij">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
{% endblock %}
