{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - oferta{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(".banner").toggleClass("banner1");
        $("#n-offert").addClass("active");
    </script> 
</div>		
<!-- banner -->
<!-- offers -->
<div class="offers">
    <div class="container">
        <div class="col-md-4 offers-left">
            <h3>Pokoje</h3>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <h4>Pokój spełniający wymagania każdej osoby.</h4>
            <p>Wybierz pokój spełniający Twoje wymagania i zapłać za niego śmieszne pieniądze.</p>
            <a class="hvr-shutter-in-horizontal" href="{{ url('Home/reservation') }}">Rezerwuj</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>Restauracja i bar</h3>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <h4>Dla każdego klienta hotelu.</h4>
            <p>Jeśli jesteś naszym klientem, możesz skorzystać z bardzo ekskluzywnej restauracji czy też bogatego baru.</p>
            <a class="hvr-shutter-in-horizontal-inverted-colors" href="discover#contact">Więcej</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>SPA</h3>
            <img src="{{ url('template') }}/images/5.jpg" class="img-responsive" alt="">
            <h4>Odpręż się i zrelaksuj.</h4>
            <p>Potrzebujesz odpoczynku i relaksu? Skorzystaj z naszego SPA. Czekają cię niezapomniane chwile!</p>
            <a class="hvr-shutter-in-horizontal-inverted-colors" href="discover#contact">Więcej</a>
        </div>
        <div class="clearfix"></div>
        <div class="offer-btm">
            <div class="col-md-4 offers-left">
                <h3>Przyjęcia</h3>
                <img src="{{ url('template') }}/images/2.jpg" class="img-responsive" alt="">
                <h4>Miejsce dla małych eventów.</h4>
                <p>Organizujesz małe przyjęcie? Nasz hotel oferuje miejsce właśnie dla takich wydarzeń z możliwością noclegów.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="discover#contact">Więcej</a>
            </div>
            <div class="col-md-4 offers-left">
                <h3>Konferencje</h3>
                <img src="{{ url('template') }}/images/7.jpg" class="img-responsive" alt="">
                <h4>Ważne spotkania firmowe? Nic trudnego!</h4>
                <p>Oferujemy miejsce dla spotkań konferencyjnych dodatkowo z wyżywieniem za całkiem przystępną cenę.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="discover#contact">Więcej</a>
            </div>
            <div class="col-md-4 offers-left">
                <h3>Oferta specjalna</h3>
                <img src="{{ url('template') }}/images/8.jpg" class="img-responsive" alt="">
                <h4>Co miesiąc coś innego.</h4>
                <p>Co miesiąc oferujemy jeszcze niższe ceny na wybrane usługi. Stali klienci mogą zyskać dodatkowe rabaty cenowe.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="discover#contact">Więcej</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}