{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - oferta{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(".banner").toggleClass("banner1");
        $("#n-offert").addClass("active");
    </script> 
</div>		
<!-- banner -->
<!-- offers -->
<div class="offers">
    <div class="container">
        <div class="col-md-4 offers-left">
            <h3>Pokoje</h3>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
            <a class="hvr-shutter-in-horizontal" href="{{ url('Home/reservation') }}">Rezerwuj</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>Restauracja i bar</h3>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
            <a class="hvr-shutter-in-horizontal-inverted-colors" href="contact">Więcej</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>SPA</h3>
            <img src="{{ url('template') }}/images/5.jpg" class="img-responsive" alt="">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
            <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
            <a class="hvr-shutter-in-horizontal-inverted-colors" href="contact">Więcej</a>
        </div>
        <div class="clearfix"></div>
        <div class="offer-btm">
            <div class="col-md-4 offers-left">
                <h3>Przyjęcia</h3>
                <img src="{{ url('template') }}/images/2.jpg" class="img-responsive" alt="">
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
                <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="contact">Więcej</a>
            </div>
            <div class="col-md-4 offers-left">
                <h3>Konferencje</h3>
                <img src="{{ url('template') }}/images/7.jpg" class="img-responsive" alt="">
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
                <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="contact">Więcej</a>
            </div>
            <div class="col-md-4 offers-left">
                <h3>Oferta specjalna</h3>
                <img src="{{ url('template') }}/images/8.jpg" class="img-responsive" alt="">
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
                <p>consectetuer adipiscing elit. Praesent vestibulum Lorem ipsum dolor sit amet, consectetuer adipiscing elit. molestie lacus.</p>
                <a class="hvr-shutter-in-horizontal-inverted-colors" href="contact">Więcej</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}