{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - rejestracja użytkownika{% endblock %}
{% block head %}
    <script src="{{ url('template') }}/js/jquery.validate.min.js" type="text/javascript"></script> 
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $("#n-signin").addClass("active");
        $(".banner").toggleClass("banner1");
    </script>
</div>		
<!-- banner -->
<!-- registration -->
<div class="main-1">
    <div class="container">
        <div class="register">
            {{ Notify.r }}
            <div id="error-note" >
                {% if usernameIsInDatabase is not null %}
                    <li><b class="my-error-class">Niestety istnieje już użytkownik o podanym loginie. Wybierz inny login.</b></li> 
                    {% endif %}
                    {% if emailIsInDatabase is not null %}
                    <li><b class="my-error-class">Użytkownik o podanym adresie e-mial już istnieje. <a href="{{ url('Home/passwordReminder') }}">Przypomnij hasło</a></b></li> 
                    {% endif %}
            </div>
            </br>
            <form method="post" id="registerform" name="registerform"> 
                <div class="register-top-grid login-right">
                    <h3>DANE UŻYTKOWNIKA</h3>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Imię<label>*</label></span>
                        <input type="text" id="givenName" name="givenName" value="{{ values.givenName}}" /> 
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>Nazwisko<label>*</label></span>
                        <input type="text" if="familyName" name="familyName" value="{{ values.familyName}}" /> 
                    </div>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Nazwa użytkownika<label>*</label></span>
                        <input type="text" name="username" id="username" value="{{ values.username}}" /> 
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>E-mail<label>*</label></span>
                        <input type="text" id="email" name="email" value="{{ values.email}}" /> 
                    </div>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>Hasło<label>*</label></span>
                        <input type="password" id="pass" name="pass" value="" />
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>Potwierdź hasło<label>*</label></span>
                        <input type="password" id="repeatedpass" name="repeatedpass" value="" />
                    </div>

                    <div class="clearfix"> </div>
                    <input type="submit" value="Zarejestruj" />
                    <div class="clearfix"> </div>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.validator.addMethod("containsAtLeastOneDigit", function (value) {
        return /[a-z].*[0-9]|[0-9].*[a-z]/i.test(value);
    }, 'Hasło musi zawierać co najmniej 1 liczbę i 1 literę');

    $('#registerform').validate({// initialize the plugin
        errorClass: "my-error-class",
        errorLabelContainer: "#error-note",
        wrapper: "li",
        rules: {
            givenName: {
                required: true
            },
            familyName: {
                required: true
            },
            username: {
                required: true,
                minlength: 5,
            },
            pass: {
                required: true,
                minlength: 8,
                maxlength: 20,
                containsAtLeastOneDigit: true
            },
            repeatedpass: {
                required: true,
                equalTo: "#pass"
            },
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            username: "Podanie nazwy użytkownika jest wymagane (nazwa użytkownika musi zawierać co najmniej 5 znaków)",
            pass: "Hasło musi zawierać co najmniej 8 znaków (co najmniej 1 liczbę i 1 literę)",
            repeatedpass: "Hasło i powtórzone hasło muszą być takie same",
            email: "Podany e-mail jest nieprawidłowy"
        }
    });

</script>
{% endblock %}