{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - rezerwacja{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
</div>		
<!-- banner -->

<div class="details">
    <div class="container">
        <form action="{{ url('Home/reservationPay') }}#rooms-list" method="POST">
            <div class="row">
                <h3>Rezerwacja</h3>
                <div class="booking-form" style="margin:0;">
                    <div class="col-md-6">
                        <h5>IMIĘ I NAZWISKO</h5>
                        <input type="text" name="name" value="{{ data.name }}" {% if Me.isLogged() %} class="input-disabled" disabled {% endif %} required>
                        <h5>E-MAIL</h5>
                        <input type="text" name="email" value="{{ data.email }}" {% if Me.isLogged() %} class="input-disabled" disabled {% endif %} required>
                        {% if Me.isLogged() %}
                            <input type="hidden" name="userId" value="{{ Me.getModel.id }}" />
                        {% endif %}
                    </div>

                    <div class="col-md-6">	
                        <h5>NUMER TELEFONU</h5>
                        <input name="phone" type="text" value="{{ data.phone }}" {% if Me.isLogged() %} class="input-disabled" disabled {% endif %}>
                        <h5>OD DNIA - DO DNIA</h5>
                        <input class="datepickerR" name="date" id="daterange" type="text" placeholder="Data" value="{{ data.date }}">
                    </div>

                </div>
            </div>
            <div class="clearfix margin-bottom">&nbsp;</div>
            <div class="row">
                <h3 id="rooms-list">Dostępne pokoje</h3>
                <div class="col-md-3">
                    <div class="well" id="filters">
                        <p><input type="checkbox" id="balcony" class="properties" name="balcony" value="1" /> Balkon</p>
                        <p><input type="checkbox" id="toilet" class="properties" name="toilet" value="1" /> Toaleta</p>
                        <p><input type="checkbox" id="smoking" class="properties" name="smoking" value="1" /> Dla palących</p>
                        <p><input type="checkbox" id="doubleBed" class="properties" name="doubleBed" value="1" /> Podwójne łóżko</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="rooms">
                        <div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="booking-form no-margin">
                    <div class="col-md-12">
                        <input type="submit" id="submit" name="submit" class="pull-right" value="Rezerwuj" style="display:none;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{{ url('template') }}/js/daterangepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var dates = $('#daterange').val().replace(' - ', '/');
        var url = "{{ url('Home/getRooms') }}/";
        $("#rooms").load(url + dates + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked') + "&doubleBed=" + $("#doubleBed").prop('checked') + "&smoking=" + $("#smoking").prop('checked'));
        $('.daterangepicker .applyBtn').click(function () {
            dates = $('#daterange').val().replace(' - ', '/');
            $("#rooms").empty();
            $("#rooms").append('<div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>');
            $("#rooms").load(url + dates + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked') + "&doubleBed=" + $("#doubleBed").prop('checked') + "&smoking=" + $("#smoking").prop('checked'));

        });

        $(".properties").change(function () {
            dates = $('#daterange').val().replace(' - ', '/');
            fromDate = dates[0];
            toDate = dates[1];
            $("#rooms").empty();
            $("#rooms").append('<div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>');
            $("#rooms").load(url + dates + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked') + "&doubleBed=" + $("#doubleBed").prop('checked') + "&smoking=" + $("#smoking").prop('checked'));
        });
    });
    $("#n-rooms").addClass("active");
    $(".banner").toggleClass("banner1");

    var num = 600; //number of pixels before modifying styles

    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > num) {
            $('#filters').addClass('filters-menu');
        } else {
            $('#filters').removeClass('filters-menu');
        }
    });

    $('#daterange').daterangepicker({
        format: 'YYYY-MM-DD',
        minDate: '{{ "now"|date('Y-m-d') }}',
        locale: {
            applyLabel: 'Zapisz',
            cancelLabel: 'Anuluj',
            fromLabel: 'Od',
            toLabel: 'Do',
            customRangeLabel: 'Własne',
            daysOfWeek: ['Nd', 'Po', 'Wt', 'Śr', 'Czw', 'Pt', 'So'],
            monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            firstDay: 1
        }
    });
</script>
{% endblock %}