{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM - rezerwacja{% endblock %}

{% block body %}
</div>		
<!-- banner -->

<div class="details">
    <div class="container">
        <form action="{{ url('Home/reservationPay') }}#rooms-list" method="POST">
            <div class="row">
                <h3>Rezerwacja</h3>
                <div class="booking-form" style="margin:0;">
                    <div class="col-md-6">

                        <!---strat-date-piker---->
                        <link rel="stylesheet" href="{{ url('template') }}/css/jquery-ui.css" />
                        <script src="{{ url('template') }}/js/jquery-ui.js"></script>
                        <!---/End-date-piker---->

                        <h5>IMIĘ I NAZWISKO</h5>
                        <input class="input-disabled" type="text" name="name" value="{{ data.name }}" {% if Me.isLogged() %} disabled {% endif %}>
                        <h5>NUMER TELEFONU</h5>
                        <input class="input-disabled" name="phone" type="text" value="{{ data.phone }}" {% if Me.isLogged() %} disabled {% endif %}>
                        {% if Me.isLogged() %}
                            <input type="hidden" name="userId" value="{{ Me.getModel.id }}" />
                        {% endif %}
                    </div>

                    <div class="col-md-6">		

                        <h5>OD DNIA</h5>
                        <input class="datepickerR" name="fromDate" id="fromDate" type="text" placeholder="Od dnia" value="{{ data.fromDate }}" onfocus="this.value = '';" onblur="if (this.value == '') {
                                    this.value = 'Do dnia';
                                }">
                        <h5>DO DNIA</h5>
                        <input class="datepickerR" name="toDate" id="toDate" type="text" placeholder="Do dnia" value="{{ data.toDate }}" onfocus="this.value = '';" onblur="if (this.value == '') {
                                    this.value = 'Do dnia';
                                }">
                        {#<h5>DODATKOWE OPCJE</h5>
                        
                        <div class="clearfix">&nbsp;</div>
                        <h5 class="mem">Ilość osób</h5>
                        <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
                        <h5>Informacje dla hotelu</h5>
                        <textarea value=""></textarea>
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">#}
                    </div>

                </div>
            </div>
            <div class="clearfix margin-bottom">&nbsp;</div>
            <div class="row">
                <h3 id="rooms-list">Dostępne pokoje</h3>
                <div class="col-md-3">
                    <div class="well" id="filters">
                        <p><input type="checkbox" id="balcony" class="properties" name="balcony" value="1" /> Balkon</p>
                        <p><input type="checkbox" id="toilet" class="properties" name="toilet" value="1" /> Toaleta</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="rooms">
                        <div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="booking-form no-margin">
                    <div class="col-md-12">
                        <input type="submit" id="submit" name="submit" class="pull-right" value="Rezerwuj" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var url = $(location).attr('hostname');
        url = "http://" + url + "/getrooms/";
        $("#rooms").load(url + $("#fromDate").val() + "/" + $("#toDate").val() + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked'));
        $(".datepickerR").datepicker({
            onSelect: function () {
                $("#rooms").empty();
                $("#rooms").append('<div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>');
                $("#rooms").load(url + $("#fromDate").val() + "/" + $("#toDate").val() + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked'));
            }
        });
        $(".properties").change(function () {
//if (this.checked) {
            $("#rooms").empty();
            $("#rooms").append('<div class="overlay center load-icon"><i class="fa fa-refresh fa-spin"></i></div>');
            $("#rooms").load(url + $("#fromDate").val() + "/" + $("#toDate").val() + "/?balcony=" + $("#balcony").prop('checked') + "&toilet=" + $("#toilet").prop('checked'));
//}
        });
    });
    $("#n-rooms").addClass("active");
    $(".banner").toggleClass("banner1");

    /*var inputs = document.querySelectorAll("input[type='checkbox']:checked'");
     if(inputs.length === 0)
     $("#submit").style.visibility = "hidden";
     else
     $("#submit").style.visibility = "visible";               
     */
    var num = 600; //number of pixels before modifying styles

    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > num) {
            $('#filters').addClass('filters-menu');
        } else {
            $('#filters').removeClass('filters-menu');
        }
    });

</script>
{% endblock %}