{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(".banner").toggleClass("banner1");
        $("#n-rooms").addClass("active");
    </script>   
</div>		
<!-- banner -->
<!-- single -->
<div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokój 1 os. <span>110 zł</span></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój 2 os. <span>150 zł</span></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój z widokiem <span>200 zł</span></h4>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
            <div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokój 1 os. <span>300 zł</span></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój 2 os. <span>400 zł</span></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokój z widokiem <span>800 zł</span></h4>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
