{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - pokoje{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(".banner").toggleClass("banner1");
        $("#n-rooms").addClass("active");
    </script>   
</div>		
<!-- banner -->
<!-- single -->
<div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokoje 1 os. <br/><a class="pull-right">już od <span>110 zł</span></a></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje małżeńskie <br/><a class="pull-right">już od <span>150 zł</span></a></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje 2 os. <br/><a class="pull-right">już od <span>200 zł</span><a/></h4>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
            <div class="tels">
    <div class="container">
        <div class="col-md-4 tels-left">
            <h4>Pokoje rodzinne <br/><a class="pull-right">już od <span>300 zł</span></a></h4>
            <img src="{{ url('template') }}/images/4.jpg" class="img-responsive" alt="">
            <p>Pokój rodzinny to nie tylko oszczędność, ale przede wszystkim specjalnie zaprojektowane miejsce zabaw i lokacja najbliżej wszelakich atrakcji jakie oferuje nasz hotel i miasto. 
                Oferujemy pokoje w układzie (2+1 oraz 2+2)</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje Standard+ <br/><a class="pull-right">już od <span>400 zł</span></a></h4>
            <img src="{{ url('template') }}/images/9.jpg" class="img-responsive" alt="">
            <p>Jesteś wymagającym klientem ? Zależy Ci na maksymalnym odpręzeniu podczas pobytu w naszym hotelu ? 
                Sprzęt rtv najwyższej klasy i oszałamiający widok z okna to, to czego oczekujesz ? W takim razie pokój standad+ jest dla Ciebie idealnym wyborem. Zapraszamy !</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="col-md-4 tels-left">
            <h4>Pokoje President <br/><a class="pull-right"><span>cena do uzgodnienia</span></a></h4>
            <img src="{{ url('template') }}/images/3.jpg" class="img-responsive" alt="">
            <p>Lubisz szyk i elegancje ? Twoje wymagania są naprawdę wysokie i chcesz poczuć się jak prawdziwy prezydent ? 
            Jeśli na powyższe pytania odpowiedziałeś twierdząca zapraszamy do skorzystania z naszej oferty pokojów klasy President</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Rezerwuj</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
