{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - pokoje{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(".banner").toggleClass("banner1");
        $("#n-rooms").addClass("active");
    </script>   
</div>		
<!-- banner -->
<!-- single -->
<div class="tels">
    <div class="container">
        {% for room in rooms %}
            <div class="col-md-4 tels-left">
                <h4>{{ room.name }}<br/><a class="pull-right">{{ room.users }} os. za <span>{{ room.cost }} zł</span></a></h4>
                <img alt="Zdjęcei pokoju" class="img-responsive" src="{{ getRoomImage(room.id) }}">
                <p>{{ room.description }}</p>
                <a class="hvr-shutter-in-horizontal" href="{{ url('Home/reservation') }}">Rezerwuj</a>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
